body {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background: url('http://lab27.blob.core.windows.net/wordpress/2016/05/css-code.jpeg') no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-size: cover;
}